<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CHX</title>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

</head>
<body>
    Hello world
</body>
</html>